---
interface Props {
  title: string;
  createdAt: string;
}

const { title, createdAt } = Astro.props;
---

<div class="relative px-5 py-9 shadow-lg">
  <span class="font-bold">{title}</span>
  <div
    class="absolute bottom-0 right-0 flex h-9 w-20 items-center justify-center text-sm text-gray-400"
  >
    {createdAt}
  </div>
</div>
