---
import SkillSet from "@/components/SkillSet.astro";
import Layout from "@/layouts/Layout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<Layout title="Profile | @attiiii_dev">
  <main
    class="mx-auto mb-[15rem] mt-3 max-w-[1440px] px-20 [&>*:not(:last-child)]:mb-20"
  >
    <section class="leading-[1.9] text-gray-800 [&>*:not(:last-child)]:mb-7">
      <div class="flex items-center">
        <div
          class="mr-6 h-24 w-24 rounded-full bg-gray-200 bg-[url('/images/profile-icon.jpg')] bg-[size:cover] bg-[position:50%_40%]"
        >
        </div>
        <div>
          <p class="text-6xl font-bold">attiiii</p>
          <p class="text-gray-400">フリーランスWebエンジニア</p>
        </div>
      </div>
      <div>
        <p>
          過去にデータ分析を職にしていたこともあり、論理性や合理性を重んじて仕事に取り組んでいます。
        </p>
        <p>メインはPHPで開発を行っていますが、JavaScriptも対応可能です。</p>
        <p>お仕事のご相談がございましたらSNS経由で頂ければ幸いです。</p>
      </div>
      <div>
        <p>
          <b>経歴</b>
        </p>
        <ul class="ml-6 list-disc">
          <li>
            広島大学大学院の情報工学科を修了後、JTCメーカーにてデータサイエンティストとして3年勤務
          </li>
          <li>
            新卒3年間で自身が最も実装力で仕事に貢献できることに気づき、仕事の楽しさ・貢献度・評価を最大化させるためにより前線で働けるWebエンジニアに転職
          </li>
          <li>その後、ベンチャー企業で受託開発を3年経て独立</li>
        </ul>
      </div>
    </section>
    <SectionLayout title="Skill Set">
      <p class="mb-4 text-gray-400">※2024年4月時点</p>
      <SkillSet />
    </SectionLayout>
  </main>
</Layout>
