---
import BiGithub from "@components/icons/BiGithub.astro";
import BiTwitterX from "@components/icons/BiTwitterX.astro";
---

<header class="bg-white text-xl font-medium">
  <div class="mx-auto flex max-w-[1440px] justify-between px-20 py-9">
    <div class="flex items-center [&>*]:mr-12">
      <a href="/"> @attiiii_dev </a>
      <div class="flex items-center text-gray-400">
        <a href="https://twitter.com/attiiii_dev" target="_blank" class="p-2">
          <BiTwitterX />
        </a>
        <a href="https://github.com/attiiii" target="_blank" class="p-2">
          <BiGithub />
        </a>
      </div>
    </div>
    <nav class="flex items-center [&>*]:ml-12">
      <a href="/blogs">Blog</a>
      <a href="/profile">Profile</a>
    </nav>
  </div>
</header>
