---
import SkillIconsJavascript from "@/components/icons/SkillIconsJavascript.astro";
import SkillIconsPhp from "./icons/SkillIconsPhp.astro";
import SkillIconsLaravel from "./icons/SkillIconsLaravel.astro";
import CustomCakephp from "./icons/CustomCakephp.astro";
import CustomZend from "./icons/CustomZend.astro";
import SkillIconsJquery from "./icons/SkillIconsJquery.astro";
import SkillIconsVuejs from "./icons/SkillIconsVuejs.astro";
import SkillIconsMysql from "./icons/SkillIconsMysql.astro";
import CustomOracle from "./icons/CustomOracle.astro";
import SkillIconsDocker from "./icons/SkillIconsDocker.astro";
---

<div class="flex flex-wrap [&>*]:mb-4 [&>*]:mr-4">
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsPhp />
      <span class="text-2xl">PHP</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">4</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsLaravel />
      <span class="text-2xl">Laravel</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">2</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <CustomCakephp />
      <span class="text-2xl">CakePHP</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">3</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <CustomZend />
      <span class="text-2xl">Zend Framework</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">1</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsJavascript />
      <span class="text-2xl">JavaScript</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">3</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsJquery />
      <span class="text-2xl">jQuery</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">2</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsVuejs />
      <span class="text-2xl">Vue.js</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">3</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsMysql />
      <span class="text-2xl">MySQL</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">2</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <CustomOracle />
      <span class="text-2xl">Oracle</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">3</span>
      <span class="text-sm">年</span>
    </div>
  </div>
  <div
    class="flex items-center rounded-xl border border-gray-300 bg-white px-4 py-3 text-gray-800 [&>*:not(:last-child)]:mr-4"
  >
    <div class="flex items-center [&>*:not(:last-child)]:mr-3">
      <SkillIconsDocker />
      <span class="text-2xl">Docker</span>
    </div>
    <div class="h-full border-r border-gray-300"></div>
    <div>
      <span class="text-2xl">3</span>
      <span class="text-sm">年</span>
    </div>
  </div>
</div>
