---
import BlogCard from "@/components/card/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import { getBlogs } from "@/libs/microcms";

const response = await getBlogs({ fields: ["id", "title", "createdAt"] });
---

<Layout title="Blog | @attiiii_dev">
  <main
    class="mx-auto mb-[15rem] mt-20 max-w-[1440px] px-1 md:mt-3 lg:px-20 [&>*:not(:last-child)]:mb-14"
  >
    <SectionLayout title="Blog">
      <div class="[&>*:not(:last-child)]:mb-5">
        {response.contents.map((content) => <BlogCard {...content} />)}
      </div>
    </SectionLayout>
  </main>
</Layout>
